

/* ===== Bandeau du haut (header + onglets) ===== */
.md-header, 
.md-tabs {
    background-color: #099E37!important;  /* Orange foncé uniforme */
}

/* ===== Liens dans la navbar et les onglets ===== */
.md-header nav a,
.md-tabs a {
    color: #FFFFFF !important;
}

/* Hover sur onglets */
.md-tabs__item:hover {
    background-color: #07782A !important; /* Orange encore plus foncé au survol */
}

/* ===== Navigation latérale ===== */
.md-nav__link {
    color: #FFFFFF !important; /* Texte blanc par défaut */
}
.md-nav__link:hover,
.md-nav__link--active {
    color: #099E37 !important; /* Orange foncé au survol et actif */
}

/* ===== Boutons primaires ===== */
.md-button.md-button--primary {
    background-color: #099E37 !important;
    color: #FFFFFF !important;
}

/* ===== Liens dans le contenu ===== */
.md-content a {
    color: #099E37 !important; /* Orange foncé pour liens */
}

/* ====== test ======*/


/* Arrière-plan blanc */
.md-container,
.md-main,
.md-content,
.md-content__inner {
    background-color: #ffffff !important;
}

/* Texte en noir */
body,
.md-typeset,
.md-nav,
.md-nav__title,
.md-nav__item a {
    color: #000000 !important;
}

/* Correction des liens */
a {
    color: #099E37 !important;
}

/* Correction du code */
code, pre {
    background: #f5f5f5 !important;
    color: #000000 !important;
}
